<style>
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>
<script>
    let title = document.querySelector('header h1');
    let subTitle = document.querySelector('header h2');
    title.innerHTML = '<span>Erreur 404</span>';
    subTitle.innerHTML = 'Oops ! cette page est introuvable';
</script>