<script>
    let title = document.querySelector('header h1');
    let subTitle = document.querySelector('header h2');
    title.innerHTML = '<span>404</span>';
    subTitle.innerHTML = 'Page introuvable :(';
</script>