<article id="introduction">
    <h2>Hello World!</h2>
    <p>Salut !<br>
        Je suis Martin Déclert, développeur web depuis maintenant 2 ans, qui à découvert cette vocation grâce au DUT
        Métier du Multimédia et de l’Internet de Champs-sur-Marne. Je fait principalement du développement Back-end,
        mais je m’interesse aussi au Front-end.<br>
        J’aime découvrir et apprendre de nouvelles choses, et je suis toujours à la recherche de nouveaux défis pour
        aggrandir le pannel de mes compétences.</p><br>
    <p>Je suis actuellement en alternance chez <a href="https://horace.co" target="_blank">horace.co</a>, en Mastère 1
        développement web à l’ECV Digital, mais je suis à
        la recherche d’une nouvelle entreprise qui pourrait m’apprendre à utiliser de nouvelles technologies comme
        Laravel, ReactPHP ou Vue.js
    </p>
</article>

<article id="skills">
    <h2>Compétences</h2>
    <div id="skills-wrapper">
        <section class="techno-wrapper">
            <div class="techno-type">
                <div>
                    <span class="gg-server"></span>
                </div>
            </div>
            <ul class="techno-list">
                <li>PHP</li>
                <li>Node.js</li>
                <li>MySQL</li>
            </ul>
        </section>
        <section class="techno-wrapper">
            <div class="techno-type">
                <div>
                    <span class="gg-template"></span>
                </div>
            </div>
            <ul class="techno-list">
                <li>HTML/CSS</li>
                <li>JavaScript</li>
                <li>jQuery</li>
            </ul>
        </section>
        <section class="techno-wrapper">
            <div class="techno-type">
                <div>
                    <span class="gg-terminal"></span>
                </div>
            </div>
            <ul class="techno-list">
                <li>Linux</li>
                <li>Apache2</li>
                <li>Git</li>
                <li>Docker</li>
            </ul>
        </section>
    </div>
</article>

<article id="experiences">
    <section class="jobs">
        <h2>Expériences</h2>
        <ul>
            <li>
                <h3>janvier 2019</h3>
                <div>
                    <p>Horace</p>
                    <p>Magento 1.x</p>
                    <ul>
                        <li>Création de fonctionnalités</li>
                        <li>Maintenace du site</li>
                        <li>Mises en production</li>
                    </ul>
                </div>
            </li>
            <li>
                <h3>septembre 2018<br>décembre 2018</h3>
                <div>
                    <p>Azerrisk Advantage</p>
                    <p>Node.js, Angular 2</p>
                    <ul>
                        <li>Développement des applications</li>
                        <li>Mises en production</li>
                    </ul>
                </div>
            </li>
            <li>
                <h3>avril 2018<br>aout 2018</h3>
                <div>
                    <p>Bee Medias</p>
                    <p>Wordpress</p>
                    <ul>
                        <li>Ajout de fonctionnalités aux sites</li>
                        <li>Intégration des maquettes graphique</li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
    <section class="degrees">
        <h2>Diplômes</h2>
        <ul>
            <li>
                <h3>2019 - 2021</h3>
                <div>
                    <p>Mastère Développement Web<br>ECV Digital</p>
                </div>
            </li>
            <li>
                <h3>2018 - 2019</h3>
                <div>
                    <p>Bachelor 3 Développement Web<br>Hetic</p>
                </div>
            </li>
            <li>
                <h3>2016 - 2018</h3>
                <div>
                    <p>DUT MMI<br>IUT de Marne la Vallée</p>
                </div>
            </li>
            <li>
                <h3>2014 - 2016</h3>
                <div>
                    <p>Bac STI2D option ITEC<br>Lycée René Cassin - Noisiel</p>
                </div>
            </li>
        </ul>
    </section>
</article>