header {
    height: 80vh;
    width: 100%;
    position: relative;
    background-image: url('https://mdeclert.herokuapp.com/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    * {
        color: white;
        z-index: 1;
    }
    .background-color {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 80vh;
        background: black;
        opacity: 0;
        margin-top: 0;
        z-index: 0;
    }
    h1 {
        font-size: 3.5rem;
        font-weight: 400;
        span { font-weight: 700; }
    }
    h2 {
        font-weight: 400;
        font-size: 2rem;
    }
    div {
        margin-top: 3.5rem;
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            border: solid 1px rgba(255, 255, 255, 0);
            transition: border-color .5s ease;
            border-radius: 24px;
            text-decoration: none;
            height: 48px;
            width: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                border-color: rgba(255, 255, 255, .5);
            }
            svg {
                height: 24px;
                width: 24px;
            }
        }
        .separator {
            height: 1px;
            width: 125px;
            background: white;
        }
    }
    #round-vector {
        position: absolute;
        width: 100%;
        bottom: -1px;

        @media all and (max-width: 990px) {
            display: none;
        }
    }

    @media all and (max-width: 465px) {
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1.5rem;
        }
    }
}